# GENERAL
VITE_URL_API_FRONT_CHATBOT="URL"
VITE_DIRECTUS_URL="PASSWORD"

# CONFIG
VITE_CHATBOT_LOGO="ASSETS"
VITE_CHATBOT_NAME="NAME"
VITE_OPT_AUT0_ACCOUNT=boolean
VITE_OPT_SIDEBAR=boolean
VITE_OPT_MENU_PARAMETERS=boolean
VITE_UUID_CHATBOT="UUID"

# ENV

VITE_AUTH0_DOMAIN="DOMAIN"
VITE_AUTH0_CLIENTID="PASSWORD"
VITE_AUTH0_SCOPE="SCOPE"
VITE_AUTH0_DOMAIN_CALLBACK="URL"

VITE_AUTH0_REQUEST_TOKEN="URL"
VITE_AUTH0_CLIENTID="AUTH0_CLIENTID"
VITE_AUTH0_CLIENT_SECRET="CLIENT_SECRET"
VITE_AUTH0_AUDIENCE="URL"
VITE_AUTH0_GRANT_TYPE="GRANT_TYPE"