VITE_MIXTRAL_API_BASE="URL"
VITE_MIXTRAL_API_KEY="PASSWORD"
VITE_MIXTRAL_MODEL_NAME="METHOD"

VITE_DIRECTUS_SECRET="PASSWORD"
VITE_DIRECTUS_URL="URL"

VITE_AUTH0_DOMAIN="DOMAIN"
VITE_AUTH0_CLIENTID="PASSWORD"
VITE_AUTH0_DOMAIN_CALLBACK="URL"