# GENERAL
PORT="PORT"
ORIGIN="URL_ORIGIN"

# AUTH0
AUTH0_URL_REQUEST_TOKEN="URL"
AUTH0_CLIENTID="CLIENTID"
AUTH0_CLIENT_SECRET="AUTH0_CLIENT_SECRET"
AUTH0_AUDIENCE="AUTH0_AUDIENCE"
AUTH0_GRANT_TYPE="AUTH0_GRANT_TYPE"