# GENERAL
PORT="PORT"
ORIGIN="URL_ORIGIN"
PORT_REDIS=PORT
HOST_REDIS=HOST

# KEYCLOAK-AUTH
KEYCLOAK_URL_REQUEST_TOKEN="URL"
KEYCLOAK_USERNAME="USERNAME"
KEYCLOAK_PASSWORD="PASSWORD"

# API-CHATBOT
URL_API_BOT="URL"