@tailwind base;
@tailwind components;
@tailwind utilities;

/* If addding some new color, you must add into tailwindcss.config.js
Provide all colors into project
*/

.theme-foch {
  /* --color-primary: 150, 190, 50;
  --color-secondary: 0, 125, 190;
  --color-text: 100, 100, 0;
  --color-bot: 255, 188, 73;
  --color-user: 255, 107, 108;
  --color-bg: 255, 255, 255;
  --color-success: 153, 204, 51;
  --color-warning: 255, 204, 0;
  --color-error: 255, 153, 102;
  --color-information: 200, 231, 255; */

  /* General */
  --color-primary: 150, 190, 50;
  --color-secondary: 0, 125, 190;

  --color-text: 0, 0, 0;
  --color-title: 0, 125, 190;
  --color-subtitle: 0, 125, 190;
  --color-text-hover: 255, 255, 255;
  --color-link: 0, 125, 190;
  --color-link-hover: 150, 190, 50;

  --color-bg: 255, 255, 255;

  --chat-bg-user: transparent;
  --chat-text-user: 0, 0, 0;
  --chat-border-user: 150, 190, 50;

  --chat-bg-bot: transparent;
  --chat-text-bot: 0, 0, 0;
  --chat-border-bot: 0, 125, 190;

  /* Chat */
  --color-bot: 150, 190, 50;
  --color-user: 0, 125, 190;

  /* États */
  --color-success: 153, 204, 51;
  --color-warning: 255, 204, 0;
  --color-error: 255, 153, 102;
  --color-information: 200, 231, 255;
}

.theme-ahp {
  /* General */
  --color-primary: 150, 190, 50;
  --color-secondary: 0, 125, 190;

  --color-text: 0, 0, 0;
  --color-title: 0, 125, 190;
  --color-subtitle: 0, 125, 190;
  --color-text-hover: 255, 255, 255;
  --color-link: 0, 125, 190;
  --color-link-hover: 150, 190, 50;

  --color-bg: 255, 255, 255;

  --chat-bg-user: transparent;
  --chat-text-user: 0, 0, 0;
  --chat-border-user: 150, 190, 50;

  --chat-bg-bot: transparent;
  --chat-text-bot: 0, 0, 0;
  --chat-border-bot: 0, 125, 190;

  /* Chat */
  --color-bot: 150, 190, 50;
  --color-user: 0, 125, 190;

  /* États */
  --color-success: 153, 204, 51;
  --color-warning: 255, 204, 0;
  --color-error: 255, 153, 102;
  --color-information: 200, 231, 255;
}

.theme-hpsj {
  /* General */
  --color-primary: 150, 190, 50;
  --color-secondary: 0, 125, 190;

  --color-text: 0, 0, 0;
  --color-title: 0, 125, 190;
  --color-subtitle: 0, 125, 190;
  --color-text-hover: 255, 255, 255;
  --color-link: 0, 125, 190;
  --color-link-hover: 150, 190, 50;

  --color-bg: 255, 255, 255;

  --chat-bg-user: transparent;
  --chat-text-user: 0, 0, 0;
  --chat-border-user: 150, 190, 50;

  --chat-bg-bot: transparent;
  --chat-text-bot: 0, 0, 0;
  --chat-border-bot: 0, 125, 190;

  /* Chat */
  --color-bot: 150, 190, 50;
  --color-user: 0, 125, 190;

  /* États */
  --color-success: 153, 204, 51;
  --color-warning: 255, 204, 0;
  --color-error: 255, 153, 102;
  --color-information: 200, 231, 255;
}

.theme-ennov {
  /* General */
  --color-primary: 150, 190, 50;
  --color-secondary: 0, 125, 190;

  --color-text: 0, 0, 0;
  --color-title: 0, 125, 190;
  --color-subtitle: 0, 125, 190;
  --color-text-hover: 255, 255, 255;
  --color-link: 0, 125, 190;
  --color-link-hover: 150, 190, 50;

  --color-bg: 255, 255, 255;

  --chat-bg-user: transparent;
  --chat-text-user: 0, 0, 0;
  --chat-border-user: 150, 190, 50;

  --chat-bg-bot: transparent;
  --chat-text-bot: 0, 0, 0;
  --chat-border-bot: 0, 125, 190;

  /* Chat */
  --color-bot: 150, 190, 50;
  --color-user: 0, 125, 190;

  /* États */
  --color-success: 153, 204, 51;
  --color-warning: 255, 204, 0;
  --color-error: 255, 153, 102;
  --color-information: 200, 231, 255;
}

.theme-ccib {
  /* General */
  --color-primary: 150, 190, 50;
  --color-secondary: 0, 125, 190;

  --color-text: 0, 0, 0;
  --color-title: 0, 125, 190;
  --color-subtitle: 0, 125, 190;
  --color-text-hover: 255, 255, 255;
  --color-link: 0, 125, 190;
  --color-link-hover: 150, 190, 50;

  --color-bg: 255, 255, 255;

  --chat-bg-user: transparent;
  --chat-text-user: 0, 0, 0;
  --chat-border-user: 150, 190, 50;

  --chat-bg-bot: transparent;
  --chat-text-bot: 0, 0, 0;
  --chat-border-bot: 0, 125, 190;

  /* Chat */
  --color-bot: 150, 190, 50;
  --color-user: 0, 125, 190;

  /* États */
  --color-success: 153, 204, 51;
  --color-warning: 255, 204, 0;
  --color-error: 255, 153, 102;
  --color-information: 200, 231, 255;
}

.theme-da {
  /* General */
  --color-primary: 0, 38, 76;
  --color-secondary: 0, 140, 153;

  --color-text: 0, 0, 0;
  --color-title: 0, 38, 76;
  --color-subtitle: 0, 140, 153;
  --color-text-hover: 255, 255, 255;
  --color-link: 255, 255, 255;
  --color-link-hover: 0, 38, 76;

  --color-bg: 255, 255, 255;

  --chat-bg-user: 0, 38, 76;
  --chat-text-user: 255, 255, 255;
  --chat-border-user: 0, 38, 76;

  --chat-bg-bot: 0, 140, 153;
  --chat-text-bot: 255, 255, 255;
  --chat-border-bot: 0, 140, 153;

  /* Chat */
  --color-bot: 230, 244, 246;
  --color-user: 0, 140, 153;

  /* États */
  --color-success: 153, 204, 51;
  --color-warning: 237, 108, 2;
  --color-error: 198, 83, 83;
  --color-information: 200, 231, 255;
}

.theme-mcjr {
  /* General */
  --color-primary: 150, 190, 50;
  --color-secondary: 0, 125, 190;

  --color-text: 0, 0, 0;
  --color-title: 0, 125, 190;
  --color-subtitle: 0, 125, 190;
  --color-text-hover: 255, 255, 255;
  --color-link: 0, 125, 190;
  --color-link-hover: 150, 190, 50;

  --color-bg: 255, 255, 255;

  --chat-bg-user: transparent;
  --chat-text-user: 0, 0, 0;
  --chat-border-user: 150, 190, 50;

  --chat-bg-bot: transparent;
  --chat-text-bot: 0, 0, 0;
  --chat-border-bot: 0, 125, 190;

  /* Chat */
  --color-bot: 150, 190, 50;
  --color-user: 0, 125, 190;

  /* États */
  --color-success: 153, 204, 51;
  --color-warning: 255, 204, 0;
  --color-error: 255, 153, 102;
  --color-information: 200, 231, 255;
}

.theme-hfar {
  /* General */
  --color-primary: 150, 190, 50;
  --color-secondary: 0, 125, 190;

  --color-text: 0, 0, 0;
  --color-title: 0, 125, 190;
  --color-subtitle: 0, 125, 190;
  --color-text-hover: 255, 255, 255;
  --color-link: 0, 125, 190;
  --color-link-hover: 150, 190, 50;

  --color-bg: 255, 255, 255;

  --chat-bg-user: transparent;
  --chat-text-user: 0, 0, 0;
  --chat-border-user: 150, 190, 50;

  --chat-bg-bot: transparent;
  --chat-text-bot: 0, 0, 0;
  --chat-border-bot: 0, 125, 190;

  /* Chat */
  --color-bot: 150, 190, 50;
  --color-user: 0, 125, 190;

  /* États */
  --color-success: 153, 204, 51;
  --color-warning: 255, 204, 0;
  --color-error: 255, 153, 102;
  --color-information: 200, 231, 255;
}

.theme-cms {
  /* General */
  --color-primary: 150, 190, 50;
  --color-secondary: 0, 125, 190;

  --color-text: 0, 0, 0;
  --color-title: 0, 125, 190;
  --color-subtitle: 0, 125, 190;
  --color-text-hover: 255, 255, 255;
  --color-link: 0, 125, 190;
  --color-link-hover: 150, 190, 50;

  --color-bg: 255, 255, 255;

  --chat-bg-user: transparent;
  --chat-text-user: 0, 0, 0;
  --chat-border-user: 150, 190, 50;

  --chat-bg-bot: transparent;
  --chat-text-bot: 0, 0, 0;
  --chat-border-bot: 0, 125, 190;

  /* Chat */
  --color-bot: 150, 190, 50;
  --color-user: 0, 125, 190;

  /* États */
  --color-success: 153, 204, 51;
  --color-warning: 255, 204, 0;
  --color-error: 255, 153, 102;
  --color-information: 200, 231, 255;
}

.theme-iridis {
  /* General */
  --color-primary: 150, 190, 50;
  --color-secondary: 0, 125, 190;

  --color-text: 0, 0, 0;
  --color-title: 0, 125, 190;
  --color-subtitle: 0, 125, 190;
  --color-text-hover: 255, 255, 255;
  --color-link: 0, 125, 190;
  --color-link-hover: 150, 190, 50;

  --color-bg: 255, 255, 255;

  --chat-bg-user: transparent;
  --chat-text-user: 0, 0, 0;
  --chat-border-user: 150, 190, 50;

  --chat-bg-bot: transparent;
  --chat-text-bot: 0, 0, 0;
  --chat-border-bot: 0, 125, 190;

  /* Chat */
  --color-bot: 150, 190, 50;
  --color-user: 0, 125, 190;

  /* États */
  --color-success: 153, 204, 51;
  --color-warning: 255, 204, 0;
  --color-error: 255, 153, 102;
  --color-information: 200, 231, 255;
}

.theme-dermo {
  /* General */
  --color-primary: 150, 190, 50;
  --color-secondary: 0, 125, 190;

  --color-text: 0, 0, 0;
  --color-title: 0, 125, 190;
  --color-subtitle: 0, 125, 190;
  --color-text-hover: 255, 255, 255;
  --color-link: 0, 125, 190;
  --color-link-hover: 150, 190, 50;

  --color-bg: 255, 255, 255;

  --chat-bg-user: transparent;
  --chat-text-user: 0, 0, 0;
  --chat-border-user: 150, 190, 50;

  --chat-bg-bot: transparent;
  --chat-text-bot: 0, 0, 0;
  --chat-border-bot: 0, 125, 190;

  /* Chat */
  --color-bot: 150, 190, 50;
  --color-user: 0, 125, 190;

  /* États */
  --color-success: 153, 204, 51;
  --color-warning: 255, 204, 0;
  --color-error: 255, 153, 102;
  --color-information: 200, 231, 255;
}

h1 {
  @apply text-subTitle font-bold text-lg px-2;
}

h2 {
  @apply text-title font-bold text-sm px-2;
}

h3 {
  @apply text-title font-bold;
}

p {
  @apply font-normal;
}

hr {
  @apply my-2;
}

a {
  @apply text-secondary font-medium;
}

input[type='number'] {
  @apply rounded-md h-8 w-full bg-bg;
  /*Firefox*/
  --moz-appearance: textfield;
}

/* Messages */

.assistant {
  @apply flex flex-col justify-start;
}

.user {
  @apply flex flex-row justify-end;
}

#message {
  @apply flex flex-col w-fit max-w-3xl p-2;
}

.bg-assistant {
  @apply border border-borderBot border-solid bg-bgBot;
}

.bg-user {
  @apply border border-borderUser border-solid bg-bgUser;
}

.message-header {
  @apply flex text-xs font-medium m-1 text-text;
}

.message-assistant {
  @apply flex flex-col text-textBot text-justify text-sm rounded-tr-lg rounded-b-lg justify-start gap-2 text-wrap;
}
.message-assistant,
p {
  @apply flex flex-col;
}

.message-user {
  @apply flex flex-col text-textUser text-justify text-sm rounded-tl-lg rounded-b-lg gap-2 border-borderUser;
}

.message-assistant,
.message-user li {
  @apply flex flex-col gap-2 my-2 text-textUser;
}

.icon-bot {
  @apply text-secondary;
}

.icon-user {
  @apply text-primary;
}

.icon {
  @apply h-8 rounded-xl px-2;
}

/* Input Message */
input[type='text'] {
  @apply rounded-xl border border-solid border-slate-100 h-fit w-full bg-bg pr-9;
}

/* IconButtons */
.icons-actions {
  @apply absolute flex flex-row z-10 top-4 w-fit;
}

.left {
  @apply z-20 w-fit h-fit left-[-18px] bg-secondary border contained border-solid border-slate-200 rounded-3xl p-2 hover:left-1 ease-in-out hover:duration-75 ease-in-out hover:delay-75 ease-in-out;
}

.right {
  @apply w-fit right-2 gap-4 sm:right-8;
}

/* Input Message */
.container-input {
  @apply relative flex flex-row w-full;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Buttons */
.btn_actions {
  @apply text-text font-medium cursor-pointer w-fit h-fit rounded-md border border-secondary p-2 hover:bg-secondary hover:text-textHover;
}

.contained {
  @apply hover:text-textHover hover:bg-secondary;
}

.outlined {
  @apply border-primary bg-bg hover:text-textHover hover:border-secondary;
}

form {
  @apply flex flex-col justify-around items-center gap-4;
}
