@tailwind base;
@tailwind components;
@tailwind utilities;

/* If addding some new color, you must add into tailwindcss.config.js
Provide all colors into project
*/

:root {
  --text: theme('colors.text');
  --bot: theme('colors.bot');
  --user: theme('colors.user');
  --primary: theme('colors.primary');
  --secondary: theme('colors.secondary');
  --third: theme('colors.third');
  --bg: theme('colors.bg'); /* Notifications */
  --sucess: theme('colors.sucess');
  --warning: theme('colors.warning');
  --error: theme('colors.error');
  --information: theme('colors.information');
}


ul
li,
ol {
  @apply text-black;
}

h1 {
  @apply text-black font-bold text-lg px-2;
}

h2 {
  @apply text-black font-bold text-sm px-2;
}

h3 {
  @apply text-black font-bold;
}

h4 {
}

p {
  @apply  font-light;
}

hr {
  @apply my-2;
}

a {
  @apply text-secondary font-medium;
}

input[type='number'] {
  @apply rounded-md h-8 w-full bg-white;
  /*Firefox*/
  --moz-appearance: textfield;
}

/* Dashboard */
#dashboard {
  @apply relative flex flex-row h-screen w-screen;
}

/* SideBar */
#side-bar {
  @apply absolute flex flex-col z-20 bg-secondary w-1/5 h-screen pt-16 p-8 gap-2 items-center min-w-72 md:min-w-72 text-white;
}

/* Statut Login */
#statut-login {
  @apply flex flex-col mt-4 gap-2 w-full;
}

/* Main Page */

#main {
  @apply relative flex-1 bg-bg h-full w-full overflow-x-hidden overflow-y-hidden px-2 pb-4;
}

.main-reduce {
  @apply md:ml-80;
}

/* Header */
#header {
  @apply flex flex-col h-16 flex-1 gap-4 mt-4 items-center;
}

/* Panel */
#tab-panel {
  @apply cursor-pointer absolute flex flex-row h-fit w-fit mt-1 rounded-md shadow-sm bg-white border border-solid border-gray-200 justify-center items-center;
}

/* Styles communs aux boutons */
.tab,
.tab-selected {
  @apply flex flex-row justify-center items-center w-fit px-4 py-2 text-xs font-medium text-black bg-transparent hover:bg-primary hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white sm:text-sm;
}

/* Bouton sélectionné */
.tab-selected {
  @apply rounded-md text-white bg-primary;
}

/* Bouton gauche (premier) */
.tab:first-child {
  @apply rounded-l-md;
}

/* Bouton droit (dernier) */
.tab:last-child {
  @apply rounded-r-md;
}

/* Chat */
#chat-room {
  @apply flex flex-col h-full gap-4 pb-24 mt-1;
}

.chat-room-containers_tab-panel {
  @apply absolute sticky flex w-screen justify-center z-10;
}

.chat-room-containers_list-messages {
  @apply relative flex flex-col mt-8 mb-0 p-2 h-full gap-2 overflow-y-scroll overflow-x-hidden;
}

.chat-room-containers_reformulate {
  @apply flex flex-row justify-start gap-2 mb-2 text-xs;
}

.chat-room-containers_loading-bot {
  @apply flex flex-row justify-start;
}

.chat-room-containers_loading-user {
  @apply flex flex-row justify-end;
}

.chat-room-containers_input-message {
  @apply absolute sticky w-full flex bottom-0;
}

/* Information */
.chat-information {
  @apply absolute sticky bg-transparent flex flex-col bg-warning p-2 rounded-xl text-xs sm:text-sm text-justify;
}

.chat-info {
  @apply flex-1 gap-2 transition ease-in-out delay-150 duration-150 text-xs sm:text-sm;
}

.chat-info-hidden {
  @apply hidden transition ease-in-out delay-150 duration-150;
}

/* Messages */

.assistant {
  @apply flex flex-col justify-start;
}

.user {
  @apply flex flex-row justify-end;
}

#message {
  @apply flex flex-col w-fit max-w-3xl p-2;
}

.bg-assistant {
  @apply border border-secondary border-solid;
}

.bg-user {
  @apply border border-primary border-solid;
}

.message-header {
  @apply flex text-xs font-medium;
}

.message-assistant {
  @apply flex flex-col text-black text-justify text-sm rounded-tr-lg rounded-b-lg justify-start gap-2 text-wrap;
}

.message-user {
  @apply flex flex-col text-black text-justify text-sm rounded-tl-lg rounded-b-lg justify-end gap-2;
}

.message-assistant,
.message-user li {
  @apply flex flex-col gap-2 my-2;
}

.icon-bot {
  @apply text-secondary;
}
.icon-user {
  @apply text-primary;
}

.icon {
  @apply h-8 rounded-xl px-2;
}

.text--bot {
  @apply bg-secondary w-fit border-2 border-slate-300 hover:border-indigo-300 rounded-tr-lg rounded-b-lg text-justify justify-center content-center p-2;
}

.text--user {
  @apply bg-primary border-2 border-slate-200 rounded-tl-lg rounded-b-lg justify-center content-center p-2 text-justify;
}

/* Procedures */
#procedure {
  @apply h-full;
}

.tab-procedure {
  @apply w-full text-sm cursor-pointer inline-flex items-center px-4 py-3 text-third border outlined border-solid border-primary bg-white rounded-lg hover:bg-primary hover:text-white justify-between;
}

.tab-procedure_selected {
  @apply text-sm cursor-pointer inline-flex items-center px-4 py-3 text-white bg-primary rounded-lg w-full justify-between;
}

/* Input Message */
input[type='text'] {
  @apply rounded-xl border border-solid border-slate-100 h-fit w-full bg-white pr-9;
}

.container-icons-actions {
  @apply absolute flex flex-row z-10 top-4 w-52;
}

/* IconButtons */
.icons-actions {
  @apply absolute flex flex-row z-10 top-4 w-fit;
}

.left {
  @apply z-20 w-fit h-fit left-[-18px] bg-secondary border contained border-solid border-slate-200 rounded-3xl p-2 hover:left-1 ease-in-out hover:duration-75 ease-in-out hover:delay-75 ease-in-out;
}

.right {
  @apply w-fit right-2 gap-4 sm:right-8;
}

/* Input Message */
.container-input {
  @apply relative flex flex-row w-full;
}

.input-user {
  @apply p-4 border border-primary outlined;
}

.icon-send-message {
  @apply absolute text-secondary right-2 inline-block  hover:text-third hover:text-secondary h-full;
}

/* Inputs Evaluate */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icons-disabled {
  @apply right-8 absolute inline-block border-secondary h-full p-1 opacity-40;
}

.icons-input {
  @apply right-8 absolute inline-block border-secondary hover:text-third hover:bg-secondary h-full p-1;
}

.semi-rounded {
  @apply right-0 rounded-r-lg;
}

/* Buttons */
.btn_actions {
  @apply text-black font-medium cursor-pointer w-fit h-fit rounded-md border p-2;
}

.contained {
  @apply hover:text-white hover:bg-secondary;
}

.outlined {
  @apply border-primary bg-white hover:text-third hover:border-secondary;
}

/* Menu Modal */

#menu-modal {
  @apply absolute flex flex-col z-10 right-0 mt-10 rounded-lg shadow-xl bg-third p-2 w-52;
}

.list-menu-modal {
  @apply flex flex-col w-full indent-2 mb-0;
}

.menu-modal-item {
  @apply w-full list-none cursor-pointer hover:bg-user hover:w-full;
}

/* Modal parameter */

#modal-parameter-background {
  @apply w-screen h-screen fixed top-0 left-0 z-20 bg-slate-500/50 flex justify-center items-center;
}

.modal-parameter {
  @apply w-1/2 h-1/2 bg-third rounded-lg;
}

#form {
  @apply flex flex-col justify-around items-center gap-4;
}

/* Loader */

.wrapper {
  @apply bottom-24 w-fit h-fit rounded-lg;
}

.wrapper-user {
  @apply border border-primary border-solid right-4;
}

.wrapper-bot {
  @apply border border-secondary border-solid left-4;
}

.loader {
  @apply flex flex-row p-2 w-fit h-fit text-sm font-normal text-gray-900 rounded-lg border border border-gray-200 hover:bg-gray-100 hover:text-secondary focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-secondary inline-flex items-center;
}
